<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${alue.nimi}">alueen nimi</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <a href="/"><div><font size="7">Villi Länsi</font></div></a>
        <a th:href="@{|~/alue/${alue.id}|}"><span th:text="${alue.nimi}">alueen nimi/div></span></a>
        <table width="100%">
            <tr>
                <!--<td width="2%">ID</td>-->
                <th width="50%">Keskustelu</th>
                <th width="20%">Nimimerkki</th>
                <th width="5%">Vastauksia</th>
                <th width="15%">Uusin vastaus</th>>
            </tr>
            <tr th:each="viestiketju : ${viestit}">
                <!--<td th:text="${viestiketju.id}" width="2%">id</td>-->
                <td width="60%">
                    <a th:href="@{|~/alue/${alue.id}/ketju/${viestiketju.id}|}" th:text="${viestiketju.otsikko}">otsikko</a></td>
                <td th:text="${viestiketju.nimimerkki}" width="20%">nimimerkki</td>
                <td th:text="${viestiketju.viestimaara}" width="20%">viestimäärä</td>
                <td width="15%">
                    <span th:if="${viestiketju.uusinviesti}">
                        <a th:href="@{|~/alue/${alue.id}/ketju/${viestiketju.id}#${viestiketju.uusinviesti.id}|}" 
                            th:text="${viestiketju.uusinviesti.aika}">uusin viesti</a>
                    </span>
                    <span th:unless="${viestiketju.uusinviesti}">
                        <a th:href="@{|~/alue/${alue.id}/ketju/${viestiketju.id}#${viestiketju.id}|}" 
                            th:text="${viestiketju.aika}">uusin viesti = avausviesti</a>
                    </span>
                </td>
            </tr>    
        </table>
        
        <p>Aloita uusi keskustelu:</p>
        <form th:action="@{|~/alue/${alue.id}|}" method="post">
            <p>
                <input type="text" name="nimimerkki" placeholder="Nimimerkki"/>
                <!--<span th:if="${viestilomake.tarkistaNimimerkki()}">Nimimerkki puuttuu!</span>-->
            </p>
            <p>
                <input type="text" name="otsikko" placeholder="Otsikko"/>
                <!--<span th:if="${viestilomake.tarkistaOtsikko()}">Otsikko puuttuu!</span>-->
            </p>
            <p>
                <textarea name="sisalto" placeholder="Viesti"/>
                <!--<span th:if="${viestilomake.tarkistaSisalto()}">Viesti puuttuu!</span>-->
            </p>
            <input type="submit" />
        </form>
    </body>
</html>
