<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <span th:text="${alue.nimi}">alueen nimi</span>
        <!-- TODO alueen viestit, form -->
        <table width="100%">
            <tr th:each="viesti : ${viestit}">
                <td th:text="${viesti.id}" width="5%">id</td>
                <td width="60%">
                    <a th:href="@{|~/alue/${alue.id}/ketju/${viesti.id}|}" th:text="${viesti.otsikko}">otsikko</a></td>
                <td th:text="${viesti.nimimerkki}" width="20%">nimimerkki</td>
                <td th:text="${viesti.aika}" width="15">aika</td>
            </tr>    
        </table>
        
        <p>Aloita uusi viestiketju</p>
        <form th:action="@{|~/alue/${alue.id}|}" th:object="${viestilomake}" method="post">
            <p>
                <input type="text" th:field="*{nimimerkki}" th:value="${viestilomake.nimimerkki}"/>
                <span th:if="${viestilomake.tarkistaNimimerkki()}">Nimimerkki puuttuu!</span>
            </p>
            <p>
                <input type="text" th:field="*{otsikko}" />
                <span th:if="${viestilomake.tarkistaOtsikko()}">Otsikko puuttuu!</span>
            </p>
            <p>
                <textarea th:field="*{sisalto}" />
                <span th:if="${viestilomake.tarkistaSisalto()}">Viesti puuttuu!</span>
            </p>
            <input type="submit" />
        </form>
    </body>
</html>
