<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <div>TODO write content</div>
        
        <table width="100%">
            <tr th:each="alue : ${alueet}">
                <td th:text="${alue.id}" width="5%">1</td>
                <td width="70%">
                    <a th:href="@{|~/alue/${alue.id}|}" th:text="${alue.nimi}">alueen nimi</a>
                </td>
                <td th:text="${alue.viestimaara}" width="5%">3</td>
                <td width="20%">
                <span th:if="${alue.uusinviesti}">
                    <a th:href="@{|~/ketju/${alue.uusinviesti.viittaus_id}#${alue.uusinviesti.id}|}" th:text="${alue.uusinviesti.aika}">linkki</a>
                </span>
                <span th:unless="${alue.uusinviesti}">ei viestejä</span>
                </td>
            </tr>
        </table>
        
    </body>
</html>
