<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <div>TODO write content</div>
        
        <ul>
            <li th:each="alue : ${alueet}">
                <span th:text="${alue.id}">1</span>
                <span th:text="${alue.nimi}">2</span>
                <span th:text="${alue.viestimaara}">3</span>
                <span th:text="${alue.uusinpvm}">4</span>
            </li>
        </ul>
    </body>
</html>
