<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>TODO write content</div>
        <!-- ankkurit viesti-id:n mukaan -->
        <!-- form -->
        <h1 th:text="${alue.nimi}">alueen nimi</h1>
        <table width="100%">
            <tr th:each="viesti : ${viestit}">
                <td width="0%"><a th:name="${viesti.id}"></a></td>
                <td th:text="${viesti.nimimerkki}" width="10%">nimimerkki</td>
                <td th:text="${viesti.aika}" width="10%">aika</td>
                <td th:text="${viesti.sisalto}" width="75%">sisältö</td>
            </tr>
        </table>
        
        <p>Vastaa viestiketjuun</p>
        <form th:action="@{|~/alue/${alue.id}/ketju/${ketjuid}|}" th:object="${viestilomake}" method="post">
            <p>
                <input type="text" th:field="*{nimimerkki}" th:value="${viestilomake.nimimerkki}"/>
                <span th:if="${viestilomake.tarkistaNimimerkki()}">Nimimerkki puuttuu!</span>
            </p>
            <p>
                <textarea th:field="*{sisalto}" />
                <span th:if="${viestilomake.tarkistaSisalto()}">Viesti puuttuu!</span>
            </p>
            <input type="submit" />
        </form>    
    </body>
</html>
