<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Jotain keskustelua</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <a href="/"><div><font size="7">Villi Länsi</font></div></a>
        <!-- ankkurit viesti-id:n mukaan -->
        <!-- form -->
        <a th:href="@{|~/alue/${alue.id}|}"><font size="5"><div th:text="${alue.nimi}">alueen nimi</div></font></a>
        <table width="100%">
            <tr>
                <td width="5%">ID</td>
                <td width="20%">Nimimerkki</td>
                <td width="15%">Lähetysaika</td>
                <td width="60%">Kukaan ei välitä tästä</td>
            </tr>
            <tr th:each="viesti : ${viestit}">
                <td width="5%" th:text="${viesti.id}">id</td>
                <td th:text="${viesti.nimimerkki}" width="20%">nimimerkki</td>
                <td th:text="${viesti.aika}" width="15%">aika</td>
                <td th:text="${viesti.sisalto}" width="60%">sisältö</td>
            </tr>
        </table>
        
        <p>Vastaa keskusteluun:</p>
        <form th:action="@{|~/alue/${alue.id}/ketju/${ketjuid}|}" method="post">
            <p>
                <input type="text" name="nimimerkki" placeholder="Nimimerkki"/>
                <!--<span th:if="${viestilomake.tarkistaNimimerkki()}">Nimimerkki puuttuu!</span>-->
            </p>
            <p>
                <textarea name="sisalto" placeholder="Viesti"/>
                <!--<span th:if="${viestilomake.tarkistaSisalto()}">Viesti puuttuu!</span>-->
            </p>
            <input type="submit" />
        </form>    
    </body>
</html>
